/* Write your code here. */

body {
  background-color: #0f172a;
}

.heading {
  font-family: Roboto;
  color: #f8fafc;
}

.greeting-1,
.greeting-2 {
  width: 40%;
}

.box {
  text-align: center;
  padding: 10%;
}
