.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
}

.container {
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #ffffff;
}

.lbl {
  color: #ffffff;
}

.para {
  color: #219a6f;
  background-color: #ffffff;
  width: 50%;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ip1 {
  display: flex;
  flex-direction: column;
  margin: 10% 0 10% 0;
}

.ip {
  margin-top: 1%;
  border: 1px solid #e4e7eb;
  background-color: transparent;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  color: #ffffff;
  padding-left: 3%;
}
