.destination-item {
  list-style-type: none;
  width: 40%;

  margin-top: 40px;
}

.destination-item img {
  width: 200px;
  max-width: 200px;
  border-radius: 10px;
}

.destination-item p {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #252627;
}
