.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #fa7257, #fc63a7);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 60%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(10, 10, 10, 10);
  background: linear-gradient(to right, #fa7257, #fc63a7);
}

.message {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  display: inline-block;
  width: fit-content;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-section {
  margin: 0 20px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

button {
  color: #dd1264;
  font-family: Roboto;
  padding: 10px 20px;
  margin: 0 15px;
  height: 30%;
  width: 90%;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

.button-text {
  margin-top: 8px;
  color: #555;
  font-size: 0.9em;
}

button:hover {
  border: 2px solid black;
}

.name-box {
  display: flex;
  border: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fddddb;
  border-radius: 15px;
  height: 80%;
  width: 100%;
  margin-top: 5%;
}

.h1 {
  color: #ffffff;
}
